@import url('global.css');

* {
    margin: 0;
    padding: 0;
}

.container-10 {
    background: var(--background-color-5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 53px;
    padding: 67px 0;
    font-family: var(--font-family-6);
}

.infor-10 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.headline-10 h2{
    font-size: var(--font-size-head-2);
    font-style: var(--font-style);
    font-weight: var(--font-weight-2);
    line-height: var(--light-height-nm);
}

#head1-10 {
    color: var(--color-head-3);
}

#head2-10 {
    color: var(--color-head-4);
}

#head3-10 {
    color: var(--color-head-5);
}

.para-10 p {
    max-width: 449px;
    color: var(--white-text);
    font-size: var(--font-size-text-3);
    font-style: var(--font-style);
    font-weight: var(--font-weight-5);
    line-height: var(--light-height-nm);
}

.btn-explore-10 {
    cursor: pointer;
    display: flex;
    padding: 24px 48px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 36px;
    background: var(--white-background);  

    color: var(--color-text-7);
    font-size: var(--font-size-text-3);
    font-style: var(--font-style);
    font-weight: var(--font-weight-5);
    line-height: var(--font-size-text-4); /* 75% */
}

.btn-explore-10:hover {
    background: var(--background-button-5);
}

.btn-explore-10:active {
    background: var(--background-button-6);
}

.image-10 {
    display: inline-flex;
    align-items: center;
    gap: 18px;
}

.frame-10 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.frame-10 img{
    width: 172px;
    height: 192px;
    border-radius: 40px;
    object-fit: cover;
}

@media (max-width: 1300px) {
    .container-10 {
        flex-direction: column;
    }

}

@media (max-width: 780px) {
    .image-10 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}