@import url('global.css');

* {
    margin: 0;
    padding: 0;
}

.container-4 {
    font-family: var(--font-family-2);
    display: flex;
}

.image-4 {
    margin-top: 67px;
}

.image-4 img {
    width: 716px;
    height: 932px;
    object-fit: cover;
}

.infor-4 {
    display: flex;
    padding: 80px 112px;
    flex-direction: column;
    align-items: flex-start;
    gap: 88px;
}

.header-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.headline-4 h2{
    color: var(--color-head-1);
    font-size: var(--font-size-head-3);
    font-style: var(--font-style);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-head-2); /* 125% */
}

.para1-4 p {
    color: var(--color-text-1);
    font-size: var(--font-size-text-2);
    font-style: var(--font-style);
    font-weight: var(--font-weight-5);
    line-height: var(--light-height-nm);
}

.btn-explore-4 {
    cursor: pointer;
    display: flex;
    padding: 18px 48px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 16px;
    background: var(--background-button-1);

    color: var(--white-text);
    font-size: var(--font-size-text-4);
    font-style: var(--font-style);
    font-weight: var(--font-weight-5);
    line-height: var(--line-height-text-3); /* 100% */
}

.btn-explore-4:hover {
    background: var(--background-button-3);
}

.btn-explore-4:active {
    background: var(--background-button-4);
}

.text-list-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.list1-4, .list2-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.nb-list1-4, .nb-list2-4 {
    color: var(--color-text-8);
    font-size: var(--font-size-text-1);
    font-style: var(--font-style);
    font-weight: var(--font-weight-1);
    line-height: var(--light-height-nm);
}

.para2-4, .para3-4 {
    color: var(--color-text-1);
    font-size: var(--font-size-text-3);
    font-style: var(--font-style);
    font-weight: var(--font-weight-5);
    line-height: var(--light-height-nm);
}

@media (max-width: 1330px) {
    .image-4 img {
        width: 100%;
    }
}

@media (max-width:970px) {
    .infor-4 {
        padding: 10px 10px;
    }
    .container-4 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-4 {
        align-items: center;
        text-align: center;
    }
}